/* Martin's fish list */
.button--close {
    border-radius: 50%;
    box-shadow: 0px 0px 20px 1px;
    display: block;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
}

.button--open {
    background-color: lavender;
    box-shadow: 7px 10px 10px 0px;
    display: block;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.dialog--fish {
    background-color: darkgray;
    border-radius: 50%;
}

.fish {
    background-color: rgba(107, 186, 255, 0.74);
    border-radius: 25px;
}

.fish__details h3 {
    text-align: center;
    margin: 0.5em 0.5em;
}

.fish__details ul {
    list-style-type: none;
    padding: 0px;
    margin: 2em 2em 1em 2em;
}

.fish__image {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 15rem;
    width: 18rem;
}

.fishList {
    display: flex;
    flex-basis: 65%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}


#details--kermit {
    position: absolute;
}