#details--bonaireImg {
    margin-top: 2em;
}

.container {
    font-size: 25px;
    text-align: center;
    color: blanchedalmond;    
}

.dialog--tip {
    background-color: coral;
}

#travelTips {
    background-color: blanchedalmond;
    border: 5px inset chocolate;
    color: black;
    display: inline;
    font-size: 2em;
}

.location__img {
    display: block;
    height: auto;
    margin: 3em auto 1em auto;
    width: 75%;
}

.locationName {
    margin-top: 0px;
}