/* @css style sheets */
@import 'navigation.css';
@import 'fish.css';
@import 'locations.css';
@import 'tips.css';

/* general elements */
body {
    background-image: url("https://images.unsplash.com/photo-1549074862-6173e20d02a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

.bordered {
    border: 1px groove coral;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.oswald ul li {
    font-family: 'Oswald', sans-serif;
}